<!doctype html>
{%- liquid
  assign direction = 'ltr'
  assign rtl_iso_codes = 'ar,he,ur,fa,pa,sd,ku' | split: ','
  if rtl_iso_codes contains request.locale.iso_code
    assign direction = 'rtl'
  endif
-%}
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ direction }}">
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YR9X6R90MR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-YR9X6R90MR');
  </script>

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0">
  <meta name="google-site-verification" content="3Cf2MtIJgIpb6SvvUOkG6C6COlaqqSWUCZf6DG4ORSA" />
	
  {%- if settings.favicon -%}
		<link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/png" />
	{%- endif -%}

	{%- capture seo_title -%}
    {%- if template contains 'search' -%}
      {{ search.terms | replace: '*', '' | split: ' AND ' | last }} - {{ shop.name | escape }}
    {%- else -%}
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name | escape }}{% endunless %}
    {%- endif -%}
  {%- endcapture -%}

	<title>{{ seo_title }}</title>

	{%- if page_description -%}
		<meta name="description" content="{{ page_description | escape }}">
	{%- endif -%}

  {%- liquid
    render 'open-graph'
    unless settings.disable_microdata 
      render 'microdata-schema'
    endunless
  -%}

  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://cdn.shopify.com">
  {%- unless settings.headings_font.system? and settings.body_font.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  {%- render 'head-preloader' -%}
  {%- render 'head-variables', direction: direction -%}


  <link rel="stylesheet" href="https://use.typekit.net/gzq3luv.css">
  {{ 'theme.css' | asset_url | stylesheet_tag }}

	{{ content_for_header }}

  <script>
    const rbi = [];
    const ribSetSize = (img) => {
      if ( img.offsetWidth / img.dataset.ratio < img.offsetHeight ) {
        img.setAttribute('sizes', `${Math.ceil(img.offsetHeight * img.dataset.ratio)}px`);
      } else {
        img.setAttribute('sizes', `${Math.ceil(img.offsetWidth)}px`);
      }
    }
    const debounce = (fn, wait) => {
      let t;
      return (...args) => {
        clearTimeout(t);
        t = setTimeout(() => fn.apply(this, args), wait);
      };
    }
    window.KEYCODES = {
      TAB: 9,
      ESC: 27,
      DOWN: 40,
      RIGHT: 39,
      UP: 38,
      LEFT: 37,
      RETURN: 13
    };
    window.addEventListener('resize', debounce(()=>{
      for ( let img of rbi ) {
        ribSetSize(img);
      }
    }, 250));
  </script>
	
  {%- if template == 'customers/addresses' or request.design_mode -%}
	  <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
	{%- endif -%}

  <noscript>
    <link rel="stylesheet" href="{{ 'theme-noscript.css' | asset_url }}">
  </noscript>

<script type="text/javascript">
  !function(e){if(!window.pintrk){window.pintrk=function()
  {window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
  n=window.pintrk;n.queue=[],n.version="3.0";var
  t=document.createElement("script");t.async=!0,t.src=e;var
  r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}
  ("https://s.pinimg.com/ct/core.js"); 
  
  pintrk('load','2613617477953', { em: '{{ customer.email }}', });
  pintrk('page');
</script> 
<noscript> 
  <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2613617477953&noscript=1" /> 
</noscript>
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "qr28u2a0kb");
</script>
</head>

<body id="{{ page_title | handle }}" class="no-touchevents 
  {% if customer %} customer-logged-in {% endif %} 
  template-{{ template.name }} template-{{ template | replace: '.', ' ' | handle }} 
  {% if settings.shadow_cards_x < 0 %} has-negative-shadow-x {% endif %}
  {% if settings.shadow_cards_y < 0 %} has-negative-shadow-y {% endif %}
  {% unless settings.show_sidebars_scrollbar %} sidebars-has-scrollbars {% endunless %}
">

  <script type="text/javascript">
    if ( 'ontouchstart' in window || window.DocumentTouch && document instanceof DocumentTouch ) { document.querySelector('body').classList.remove('no-touchevents'); document.querySelector('body').classList.add('touchevents'); } 
  </script>

  <a href="#main" class="visually-hidden skip-to-content" tabindex="0" data-js-inert>{{ 'general.accessibility_labels.skip_to_content' | t }}</a>
  <div id="screen-reader-info" aria-live="polite" class="visually-hidden"></div>

  {{ 'section-header.css' | asset_url | stylesheet_tag }}
  {%- sections 'header-group' -%}

  {{ 'component-slider.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'component-product-form.js' | asset_url }}" defer></script>

  <main id="main" class="main-content 
    {% if settings.product_card_align_buy %} main-content--align-product-items {% endif %}
  ">
    {%- render 'breadcrumb' -%}
    {{ content_for_layout }}
  </main>

  {%- sections 'footer-group' -%}
  {%- section 'popups' -%}
  {%- section 'popup-age-verification' -%}
  {%- section 'exit-intent-popup' -%}
  {%- section 'store-selector' -%}
  
  <script src="{{ 'component-modal.js' | asset_url }}" defer></script>
  <link rel="stylesheet" href="{{ 'component-modal.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-popup.css' | asset_url }}" media="print" onload="this.media='all'">

	<script type="text/javascript">

    KROWN = {
      themeName: "Local",
      themeVersion: "2.4.2",
      settings: {
        shop_money_format: '{{ shop.money_format }}',
        iso_code: '{% if settings.show_currency_codes %} {{ localization.country.currency.iso_code }}{% endif %}',
        cart_action: "{{ settings.cart_action }}",
        google_maps_api_key: "{{ settings.google_maps_api_key }}",
        routes: {
          cart_url: "{{ routes.cart_url }}",
          cart_add_url: "{{ routes.cart_add_url }}",
          cart_change_url: "{{ routes.cart_change_url }}",
          predictive_search_url: "{{ routes.predictive_search_url }}",
          product_recommendations_url: "{{ routes.product_recommendations_url }}"
        },
        locales: {
          products_add_to_cart_button: `{{ 'products.page.add_to_cart_button' | t }}`,
          products_preorder_button: `{{ 'products.page.preorder_button' | t }}`,
          products_sold_out_variant: `{{ 'products.page.inventory.sold_out_variant' | t }}`,
          products_unavailable_variant: `{{ 'products.page.inventory.unavailable_variant' | t }}`, 
          products_variant_required: `{{ 'products.grid.choose_variant_first' | t }}`,
          products_one_product: `{{ 'products.page.inventory.one_product' | t }}`,
          products_few_products: `{{ 'products.page.inventory.few_products' | t }}`,
          products_many_products: `{{ 'products.page.inventory.many_products' | t }}`,
          products_no_products: `{{ 'products.page.inventory.no_products' | t }}`,
          products_preorder: `{{ 'products.page.inventory.preorder' | t }}`,
          products_enough_products: ``,
          product_sku: `{{ 'products.page.sku' | t }}`,
          product_barcode: `{{ 'products.page.barcode' | t }}`,
          product_compare_price: `{{ 'products.page.sales_amount_html' | t: amount: '$SAVE_PRICE' }}`,
          cart_add_error: `<span class="alert__icon">{%- render 'theme-symbols', icon: 'alert-error' -%}</span>{{ 'cart.add_error' | t }}`,
          cart_general_error: `{{ 'cart.general_error' | t }}`,
          cart_announcement: `{{ 'general.accessibility_labels.item_added' | t }}`,
          store_selector_title_default: `{{ 'store_availability.store_selector.picking_up' | t }}`,
          store_selector_title_selected: `{{ 'store_availability.store_selector.my_store' | t }}`,
          store_selector_label: `{{ 'store_availability.store_selector.select_store_label' | t }}`,
          shipping_calculator_results_heading_one: `{{ 'cart.shipping_calculator.results_heading_one' | t }}`,
          shipping_calculator_results_heading_multiple: `{{ 'cart.shipping_calculator.results_heading_multiple' | t }}`,
          shipping_notice_remaining_to_free: `{{ 'cart.free_shipping_remaining_html' | t }}`,
          shipping_notice_eligible_for_free: `{{ 'cart.free_shipping_eligible' | t }}`
        },
        symbols: {
          zoom_out: `{%- render 'theme-symbols', icon: 'zoom-out' -%}`,
          zoom_in: `{%- render 'theme-symbols', icon: 'zoom-in' -%}`,
          zoom_loader: `<svg class="zoom__loader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>`,
          close: `{%- render 'theme-symbols', icon: 'close' -%}`,
          toggle_pack: `<span class="toggle__icon">{%- render 'theme-symbols', icon: 'chevron' -%}</span>`,
          toggle_pack_alternate: `<span class="toggle__icon-alternate"><span class="toggle__icon--plus">{%- render 'theme-symbols', icon: 'plus' -%}</span><span class="toggle__icon--minus">{%- render 'theme-symbols', icon: 'minus' -%}</span></span>`
        },
        predictive_search_enabled: "true",
        predictive_search_script: "{{ 'component-predictive-search.js' | asset_url }}",
        predictive_search_placeholder: `<div class="search-results"><div class="search-block"><a class="search-item search-item--blank"><div class="thumbnail"></div><div class="content"><span class="title"></span><span class="caption"></span></div></a><a class="search-item search-item--blank"><div class="thumbnail"></div><div class="content"><span class="title"></span><span class="caption"></span></div></a><a class="search-item search-item--blank"><div class="thumbnail"></div><div class="content"><span class="title"></span><span class="caption"></span></div></a></div></div>`
      }
    }
    
	</script>

  <script src="{{ 'component-quick-buy.js' | asset_url }}" defer></script>
  <script src="{{ 'component-pickup-availability.js' | asset_url }}" defer></script>

  <script src="{{ 'component-slider.js' | asset_url }}" defer></script>

  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer></script>
  {%- endif -%}
  
  {%- unless settings.cart_action == "no-overlay" or template.name contains "cart" -%}

    <sidebar-drawer id="site-cart-sidebar" class="sidebar sidebar--right {% if cart.item_count == 0 %} cart-is-empty {% endif %}" tabindex="-1" role="dialog" aria-modal="true" data-cart-items="{{ cart.item_count }}" style="display:none" data-js-site-cart-sidebar>
      
      <div class="sidebar__header">
        <span class="sidebar__title h5">
          {{ 'cart.title' | t }}
          (<span data-header-cart-count>{{ cart.item_count }}</span>)
        </span>
        <button class="sidebar__close" data-js-close>
          <span class="visually-hidden">{{ 'general.accessibility_labels.close_sidebar' | t }}</span>
          <span aria-hidden="true" aria-role="img">{%- render 'theme-symbols', icon: 'close' -%}</span>
        </button>
      </div>

      <div class="sidebar__body">

        <div class="cart-form sidebar-large-padding">
          {%- render 'cart-form', type: 'sidebar' -%}
          <a href="{{ routes.all_products_collection_url }}" class="cart-continue button button--fullwidth button--solid button--regular">
            {{ 'cart.continue_browsing' | t }}
          </a>
        </div>

        {%- if settings.cart_recommendations -%}
          <cart-recommendations id="cart-recommendations" data-section="cart-recommendations" data-limit="6"></cart-recommendations>
          <script src="{{ 'component-cart-recommendations.js' | asset_url }}" defer></script>
        {%- endif -%}

        {%- if settings.cart_notes_enable -%}
          <div class="cart-instructions hide-if-empty-cart">
            <div class="form-field">
              <label for="cartSpecialInstructions">{{ 'cart.note' | t }}</label>
              <textarea name="note" id="cartSpecialInstructions" form="cart">{{ cart.note }}</textarea>
            </div>
          </div>
        {%- endif -%}

      </div>

      <div class="sidebar__footer hide-if-empty-cart" 
        {% if settings.sticky_cart_actions %} style="position: sticky;" {% endif %}
      >
        {%- render 'cart-subtotal', type: 'sidebar' -%}
      </div>

    </sidebar-drawer>

    <script>
      new MutationObserver((mutations, observer) => {
        if ( document.getElementById('cart').classList.contains('cart--empty') ) {
          document.getElementById('site-cart-sidebar').classList.add('cart-is-empty');
        } else {
          document.getElementById('site-cart-sidebar').classList.remove('cart-is-empty');
        }
      }).observe(document.querySelector('.cart-form'), {
        attributes: false, childList: true, subtree: true
      })
    </script>

  {%- endunless -%}

  <link rel="stylesheet" href="{{ 'component-cart.css' | asset_url }}" media="print" onload="this.media='all'">

  <script src="{{ 'component-quantity-selector.js' | asset_url }}" defer></script>
  {%- if settings.cart_action == "overlay" or template.name contains "cart" -%}
    <script src="{{ 'component-cart.js' | asset_url }}" defer></script>
  {%- endif -%}

  <link rel="stylesheet" href="{{ 'component-sidebar.css' | asset_url }}" media="print" onload="this.media='all';">
  <script src="{{ 'section-header.js' | asset_url }}" defer></script>

  <script>
    if ( document.getElementById('shopify-product-reviews') ) {
      var element = document.createElement("link");
      element.setAttribute("rel", "stylesheet");
      element.setAttribute("type", "text/css");
      element.setAttribute("href", "{{ 'component-shopify-reviews.css' | asset_url }}");
      document.body.appendChild(element);
    }
  </script>

  {%- if settings.cart_notes_enable -%}
    <script src="{{ 'component-order-instructions.js' | asset_url }}" defer></script>
  {%- endif -%}
  
  {%- if request.design_mode -%}
    <script src="{{ 'section-announcement-bar.js' | asset_url }}" defer></script>
    <script src="{{ 'component-toggle.js' | asset_url }}" defer></script>
    <script src="{{ 'section-main-product.js' | asset_url }}" defer></script>
    <script src="{{ 'component-video.js' | asset_url }}" defer></script>
    <script src="{{ 'component-store-selector.js' | asset_url }}" defer></script>
    <script src="{{ 'component-interactive-map.js' | asset_url }}" defer></script>
    <script src="{{ 'component-image-hotspots.js' | asset_url }}" defer></script>
    <script src="{{ 'component-localization-form.js' | asset_url }}" defer></script>
    <script src="{{ 'component-predictive-search.js' | asset_url }}" defer></script>
    <script src="{{ 'component-shipping-calculator.js' | asset_url }}" defer></script>
    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>
    <script src="{{ 'component-before-after.js' | asset_url }}" defer></script>
  {%- endif -%}

  <div class="site-overlay" style="display:none"></div>

  <link rel="stylesheet" href="{{ 'section-main-product.css' | asset_url }}" media="print" onload="this.media='all';">

  {%- if settings.show_gotop -%}
    <span id="go-top" class="main-go-top"
      onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >
      <span class="visually-hidden">{{ 'general.accessibility_labels.go_to_top' | t }}</span>
      <span class="main-go-top__icon" aria-hidden="true">{%- render 'theme-symbols', icon: 'chevron' -%}</span>
    </span>
    <script>
      window.addEventListener('scroll', ()=>{
        if ( window.scrollY > 100 ) {
          document.getElementById('go-top').classList.add('show');
        } else {
          document.getElementById('go-top').classList.remove('show');
        }
      }, {passive: true});
    </script>
  {%- endif -%}
    
  <script>
    document.querySelectorAll('.rte a img').forEach(elm=>{
  		elm.parentNode.style.border = 'none';
    });
  </script>

  {%- if settings.enable_instapage -%}
    <script src="{{ 'instantpage.js' | asset_url }}" type="module" defer></script>
  {%- endif -%}
    
    {%- if settings.disable_all_image_animations -%}
      <style>
        .lazy-image img,
        .lazy-image img:hover {
          transition: all 0ms !important;
          opacity: 1 !important;
          transform: none !important;
        }

        .no-touchevents a:hover .lazy-image.lazy-image--zoom-animation img,
        .no-touchevents .card--animation:hover .lazy-image.lazy-image--animation img  {
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      </style>
    {%- endif -%}


  <script async="" src="https://js.klarna.com/web-sdk/v1/klarna.js" data-client-id="19278c08-f896-5ae7-bbcf-f45e1ec41d86"></script>


<script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>

<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "XnZ6ni",
      list: "QNMQ3S",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "button",
      product_page_text_align: "center",
      product_page_margin: "20px 0 0 0",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock - This is a one-off restock email notification for this item only.",
     email_field_label: "Email",
     newsletter_subscribe_label: "Sign me up for your newsletter too!",
     subscribe_checked: false,
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');",
     drop_background_color: "#252324",
     background_color: "#fff",
     text_color: "#252324",
     button_text_color: "#fff",
     button_background_color: "#76a90d",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>


<!-- Begin Shopify-Clearpay JavaScript Snippet (v1.2.1) -->
{% if cart.currency.iso_code == shop.currency %}
<script type="text/javascript">
// Overrides:
// var clearpay_msg_size = 'sm';  // Can be 'xs', 'sm', 'md' or 'lg'.
// var clearpay_bold_amount = true;
// var clearpay_logo_theme = 'colour';  // Can be 'colour', 'black' or 'white'.
// var clearpay_modal_open_icon = true;
// var clearpay_hide_upper_limit = false;
// var clearpay_hide_lower_limit = true;
// var clearpay_show_if_outside_limits = true;

var clearpay_product_integration_enabled = false;
// var clearpay_product_selector = '#product-price-selector';
// var clearpay_variable_price_fallback = false;
// var clearpay_variable_price_fallback_selector = '';
// var clearpay_variable_price_fallback_method = 'mutation';  // Can be 'mutation' or 'interval'.

var clearpay_cart_integration_enabled = false;
// var clearpay_cart_static_selector = '#cart-subtotal-selector';
// var clearpay_variable_subtotal_fallback = false;
// var clearpay_variable_subtotal_fallback_selector = '';
// var clearpay_variable_subtotal_fallback_method = 'mutation'; // Can be 'mutation' or 'interval'.

var clearpay_dynamic_cart_integration_enabled = false;
// var clearpay_dynamic_cart_selector = '.cart-drawer__footer .totals';
// var clearpay_dynamic_cart_observer_target = '#CartDrawer';

// var clearpay_footer_logo_enabled = true;
// var clearpay_footer_logo_format = 'icon';  // Can be 'icon', 'stacked' or 'logo'.
// var clearpay_footer_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
// var clearpay_footer_logo_background = 'border';  // Can be 'border' or 'transparent'.
// var clearpay_footer_logo_container = 'footer ul.payment-icons';
// var clearpay_footer_logo_template = '<li class="payment-icon"><object data="{logo_path}" type="image/svg+xml"></object></li>';

// Non-editable fields:
var clearpay_js_language = {{ localization.language.iso_code | slice: 0, 2 | json }};
var clearpay_js_country = {{ localization.country.iso_code | json }};
var clearpay_shop_currency = {{ shop.currency | json }};
var clearpay_cart_currency = {{ cart.currency.iso_code | json }};
var clearpay_shop_money_format = {{ shop.money_format | json }};
var clearpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
var clearpay_theme_name = {{ theme.name | json }};
var clearpay_product = {{ product | json }};
var clearpay_product_collections = {{ product.collections | map: 'title' | join: ',' | json }};
var clearpay_current_variant = {{ product.selected_or_first_available_variant | json }};
var clearpay_cart_total_price = {{ cart.total_price | json }};
var clearpay_cart_skus = {{cart.items | map: 'sku' | join: ',' | json }};
var clearpay_cart_collections = {{cart.items | map: 'product' | map: 'collections' | map: 'title' | uniq | join: ',' | json }};
var clearpay_js_snippet_version = '1.2.1';
</script>
<script type="text/javascript" src="https://static.afterpay.com/shopify-clearpay-javascript.js"></script>
{% else %}
<!-- Clearpay disabled: {{ cart.currency.iso_code }} != {{ shop.currency }} -->
{% endif %}
<!-- End Shopify-Clearpay JavaScript Snippet (v1.2.1) -->



</body>
</html>